/*------------------------------------*\
#FONTS
\*------------------------------------*/

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
  /* Global colors */
  --global-color-back: #6dbedf;
  --global-color-front: white;

  /* global page settings */
  --global-html-color: var(--global-color-front);
  --global-html-backgroundColor: var(--global-color-back);
  --global-selection-backgroundColor: var(--global-color-front);

  --tranform-anim: 50% 100%;
  --anim-duration: .75s;
  --anim-timing: ease-in-out;
  --anim-iteration: infinite;
  --anim-direction: alternate;
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
  background-color: var(--global-html-backgroundColor);
  color: var(--global-html-color);
  font-size: 16px;
  line-height: 1.5;
  font-family: sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::selection {
  background: var(--global-selection-backgroundColor);
  color: white;
  text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
    Component: Robot
*/

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 2rem;
}

.c-robot {
  max-width: 300px;
  fill: var(--global-color-front);
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-robot__shadow {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
  fill: black;
  opacity: .1;
}

.c-robot--css-anim #Shadow{
  animation: shadowPulse;
  transform-origin: var(--tranform-anim);
  animation-duration: var(--anim-duration);
  animation-timing-function: var(--anim-timing);
  animation-iteration-count: var(--anim-iteration);
  animation-direction: var(--anim-direction);
}

.c-robot--css-anim #Robot{
  animation: robotHover;
  animation-duration: var(--anim-duration);
  animation-timing-function: var(--anim-timing);
  animation-iteration-count: var(--anim-iteration);
  animation-direction: var(--anim-direction);
}

@keyframes shadowPulse{
  100%{
    transform: scale(.75);
  }
}

@keyframes robotHover{
  0%{
    transform: translateY(2.5%);
  }
  100%{
    transform: translateY(-2.5%);
  }
}




/*
    Component: Controls
*/

.c-controls{
  display: flex;
  gap: 3rem;
  align-items: center;
}

.c-controls__button{
  display: flex;
  /* justify-content: center; */
}

.c-controls__list{
  display: flex;
  gap: 2rem;
}


/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: ' (' attr(href) ')';
  }
  abbr[title]:after {
    content: ' (' attr(title) ')';
  }
  /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
  a[href^='#']:after,
  a[href^='javascript:']:after {
    content: '';
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
